<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <form class = "ui large form segment">
    <h3 class = "ui header">Add a link</h3>

    <div class="field">
      <label for="title">Title:</label>
      <input name="title" #newtitle>    <!--绑定局部变量newtitle到input上面-->
    </div>

    <div class="field">
      <label for="link">Link:</label>   <!--绑定局部变量newlink到input上面-->
      <input name="link" #newlink>
    </div>

    <button (click)="addArticle(newtitle, newlink)" class="ui positive right floated button">Submit Link</button>
  </form>
</div>

<div>
  <app-article></app-article>
</div>


